<div class="cards">

    <div fxLayout="row wrap" fxLayoutGap="16px grid" class="example-card">
        <div fxFlex="25%" *ngFor="let country of results" style="margin-top:10px;" fxLayoutAlign=" stretch">
            <mat-card>
                <img mat-card-image src={{country.flag}} alt="Photo">

                <mat-card-header fxLayoutAlign="center">
                    <mat-card-title>{{country.name}}</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        {{country.region}}

                    </p>
                    <p>

                        {{country.subregion}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>